table{
    border-collapse: collapse ;
    
}

td, th {
border: 1px solid darkblue;
padding: 0.5em;
font-size: 24px;
text-align: center;
}

th{background-color:aquamarine;}


tr:nth-child(even){
    color:black ;
    background-color:gainsboro;
}